{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap530\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <div id="sidebar">
        {% include '_base/sidebar.html' %}
    </div>

    <div id="content">
        <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><span class="material-symbols-outlined">menu</span></button>
        {% block content %}{% endblock %}
    </div>
    <script src="{% static 'bootstrap530\js\bootstrap.min.js' %}"></script>
</body>
</html>