<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Ho.me menu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>Tu się zrobi jakieś motto</p>
    <div class="list-group">
      <a href="{% url 'index' %}" class="link-underline link-underline-opacity-0"><button type="button" class="list-group-item list-group-item-action active" aria-current="true">Ho.me</button></a>
      <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
        LINKCUT
      </button>
      <a href="{% url 'cutit' %}" class="link-underline link-underline-opacity-0"><button type="button" class="list-group-item list-group-item-action">CutIt!</button></a>
      <a href="{% url 'link-list' %}" class="link-underline link-underline-opacity-0"><button type="button" class="list-group-item list-group-item-action">Links</button></a>
      <a href="{% url 'my-link-list' %}" class="link-underline link-underline-opacity-0"><button type="button" class="list-group-item list-group-item-action">My Links</button></a>
      <a href="{% url 'link-statistics' %}" class="link-underline link-underline-opacity-0"><button type="button" class="list-group-item list-group-item-action">Statistics</button></a>
      <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
        TODOS
      </button>
      <a href="{% url 'todos-index' %}" class="link-underline link-underline-opacity-0"><button type="button" class="list-group-item list-group-item-action">Boards</button></a>
    </div>
  </div>
</div>