.background-container {
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -999;
    background-color: #000000;
    background-image:  linear-gradient(30deg, #8d8d8d 12%, transparent 12.5%, transparent 87%, #8d8d8d 87.5%, #8d8d8d), linear-gradient(150deg, #8d8d8d 12%, transparent 12.5%, transparent 87%, #8d8d8d 87.5%, #8d8d8d), linear-gradient(30deg, #8d8d8d 12%, transparent 12.5%, transparent 87%, #8d8d8d 87.5%, #8d8d8d), linear-gradient(150deg, #8d8d8d 12%, transparent 12.5%, transparent 87%, #8d8d8d 87.5%, #8d8d8d), linear-gradient(60deg, #8d8d8d77 25%, transparent 25.5%, transparent 75%, #8d8d8d77 75%, #8d8d8d77), linear-gradient(60deg, #8d8d8d77 25%, transparent 25.5%, transparent 75%, #8d8d8d77 75%, #8d8d8d77);
    background-size: 32px 56px;
    background-position: 0 0, 0 0, 16px 28px, 16px 28px, 0 0, 16px 28px;

}
.content-container {
    z-index: 1;
}