{% extends '_base/base_generic.html' %}

{% block title %}
TODOS
{% endblock %}

{% block scripts %}{% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-8 shadow-sm p-3 mb-5 bg-body rounded">

      <div class="accordion" id="accordionPanel">
        {% for section in sections %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ section.name }}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{ section.name }}">
              {{ section.name }}
            </button>
          </h2>
          <div id="panelsStayOpen-collapse{{ section.name }}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading{{ section.name }}">
            <div class="accordion-body">
              {% for todo in todos %}
                {% if todo.section.pk == section.pk %}
                  <div class="row" style="background-color: {{ todo.color }};">
                    <div class="col-10">
                      {{ todo.description }}
                    </div>
                    <div class="col-1">
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#todo{{ todo.pk }}_Modal">Delete</button>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-4">
      <div class="row shadow-sm p-3 mb-5 bg-body rounded">
        <h1 class="dispay-5">Add Section</h1>
         <form method="post">
          {% csrf_token %}
           <label for="name" class="form-label">Section name</label>
           {{ section_form.name }}
           <label for="todo_cap" class="form-label">Maximum amount of your todos inside section</label>
           <div class="input-group mb-3">
             <span class="input-group-text" id="todo_cap_addon">Live 0 for no limits</span>
             {{ section_form.todo_cap }}
           </div>
          <input class="btn btn-primary" type="submit" value="Add Section">
        </form>
      </div>
      <div class="row mt-4 shadow-sm p-3 mb-5 bg-body rounded">
        <h1 class="dispay-5">Add Todo</h1>
        <form method="post">
          {% csrf_token %}
          <div>
            <label for="section" class="form-label">Section</label>
            {{ todo_form.section }}
          </div>
          <div>
            <label for="description" class="form-label">Description</label>
            {{ todo_form.description }}
          </div>
          <div>
            <label for="deadline" class="form-label">Deadline date</label>
            {{ todo_form.deadline }}
          </div>
          <div>
            <label for="color" class="form-label">Color</label>
            {{ todo_form.color }}
          </div>
          <input class="btn btn-primary mt-3" type="submit" value="Add Todo">
        </form>
      </div>
    </div>
  </div>


</div>

{% for todo in todos %}
  <div class="modal fade" id="todo{{ todo.pk }}_Modal" tabindex="-1" aria-labelledby="todo{{ todo.pk }}_ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="todo{{ todo.pk }}_ModalLabel">Delete todo {{ todo.pk }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to remove todo {{ todo.pk }}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
           <form method="post" action="{% url 'todo-delete' pk=todo.pk %}">
              {% csrf_token %}
              <input type="submit" class="btn btn-danger" value="Delete" />
            </form>
        </div>
      </div>
    </div>
  </div>
{% endfor %}


{% endblock %}